<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>misc</title>
</head>
<body>
    <!--
    $('#flash_container').css("left","-2000px");
    $('#flash_container').css("left","0px");
    or
    $('#flash_container').animate({ left: "-2000px"},1000);
    $('#flash_container').animate({ left: "0"},1000);
-->
<div id="clicker_container" class="row">
    <!-- calculator area -->
    <div id='calc_template_section' class='span6'>
        <div id='calc_template_anchor'></div>
    </div>
    <!-- game area -->
    <div id='game_template_section' class=''>
        <div id='game_template_anchor'></div>
    </div>
</div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>

<!-- templates -->
<script id="game_area_template" type="text/template" class="template">
    <div id="flash_div_container" style="width:<%- rc.width %>px; height:<%- rc.height %>px; overflow:hidden;">
        <div id="flash_container" style="width:<%- rc.width %>px; height:<%- rc.height %>px; position:relative; left:0px; top:0px;">
            <span id="flashContent">
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="<%- rc.width %>" height="<%- rc.height %>" id="https://d1snsxh2hr65cz.cloudfront.net/ClickerHeroes_v<%- rc.ch_version %>.swf" align="middle">
                    <param name="movie" value="https://d1snsxh2hr65cz.cloudfront.net/ClickerHeroes_v<%- rc.ch_version %>.swf" />
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#222222" />
                    <param name="play" value="true" />
                    <param name="loop" value="true" />

                    <param name="scale" value="showall" />
                    <param name="menu" value="true" />
                    <param name="devicefont" value="false" />
                    <param name="salign" value="" />
                    <param name="allowScriptAccess" value="always" />
                    <!--[if !IE]>-->
                    <object type="application/x-shockwave-flash" data="https://d1snsxh2hr65cz.cloudfront.net/ClickerHeroes_v2312.swf" width="<%- rc.width %>" height="<%- rc.height %>">
                        <param name="movie" value="https://d1snsxh2hr65cz.cloudfront.net/ClickerHeroes_v<%- rc.ch_version %>.swf" />
                        <param name="quality" value="high" />
                        <param name="bgcolor" value="#222222" />
                        <param name="play" value="true" />
                        <param name="loop" value="true" />

                        <param name="scale" value="showall" />
                        <param name="menu" value="true" />
                        <param name="devicefont" value="false" />
                        <param name="salign" value="" />
                        <param name="allowScriptAccess" value="always" />
                    <!--<![endif]-->
                        <a href="http://www.adobe.com/go/getflash">
                            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                        </a>
                    <!--[if !IE]>-->
                    </object>
                    <!--<![endif]-->
                </object>
            </span>
        </div>
    </div>
    <div id="output">
    </div>
</script>
<script id="calc_area_template" type="text/template" class="template">
    <textarea id="savedata" onfocus="this.select()" onmouseup="return false"></textarea>
    <input type="button" value="Import" onclick="Import()"></input>
    <label><input type="checkbox" id="addsouls" checked="checked"></input>Include souls gained after ascension</label>
    <div>
        <label><input type="checkbox" id="idlemode" checked="checked"></input>Idle mode (no clicks/abilities)</label>
        <div id="nonidle" style="display: none">
            <table border="0">
                <tr><th>Cooldown usage:</th><th>Uses/30 min</th><th>Clicks/sec</th></tr>
                <tr>
                    <td>Full (1+2+3+4+5+7):</td>
                   <td><input type="text" id="cdfullnum" value="2"></input></td>
                   <td><input type="text" id="cdfullcps" value="40"></input></td>
                </tr>
                <tr>
                    <td>Half (1+2+3+4):</td>
                    <td><input type="text" id="cdhalfnum" value="1"></input></td>
                    <td><input type="text" id="cdhalfcps" value="40"></input></td>
                </tr>
                <tr>
                    <td>Short (1+2):</td>
                    <td><input type="text" id="cdshortnum" value="4"></input></td>
                    <td><input type="text" id="cdshortcps" value="40"></input></td>
                </tr>
                <tr>
                    <td>None:</td>
                    <td></td>
                    <td><input type="text" id="cdnonecps" value="40"></input></td>
                </tr>
            </table>
        </div>
        Relevant gild level (for Argaiv): <input type="text" id="gildlevel" value="0" style="width: 100px"></input>
    </div>
    <div>
        <input type="button" value="Update" onclick="Compute()"></input>
        Leave current level blank or 0 if you don't own the ancient.
        <label><input type="checkbox" id="suggestbuy" checked="checked"></input>Suggest additional ancients to purchase (can be slow if the number of souls is very high)</label>
        <table id="herotbl" border="0" cellspacing="0">
            <tr><th>Ancient</th><th>Current</th><th>Target</th></tr>
            <tr>
                <td>Hero Souls</td>
                <td><input type="text" id="soulsin" value="0"></input></td>
                <td><input type="text" id="soulsout" readonly="readonly" tabindex="-1"></input></td>
            </tr>
        </table>
    </div>
</script>
<script src="static/js/init.js"></script>
<script language="javascript" src='static/js/calcs.js'></script>
<link rel="stylesheet" type="text/css" href="static/css/calc_styles.css">
</html>
